@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dadcdf;
  margin: 0;
  text-align: center;
  width: 1fr;
}

.header button {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 1;
  background: white;
  padding: 0 1.5rem;
  color: black;
  height: 2rem;  
}

.header input {
  margin-left: 10px;
}

.profile {
  width: 100px;
}

.profile2 {
  width: 30px;
}



